<h1>Välkommen till 21-spelet</h1>
<p>Målet är att få 21 eller så nära som möjligt utan att gå över. Ess är värt 1 eller 14.</p>
<a href="{{ path('game_play') }}">Starta spel</a>
<a href="{{ path('game_doc') }}">Läs spelregler och dokumentation</a>
