<form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}"
      onsubmit="return confirm('Är du säker på att du vill radera denna bok?');"
      class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn-link">Radera</button>
</form>
