{% extends 'base.html.twig' %}

{% block title %}API-routes{% endblock %}

{% block body %}
    <h1>JSON API</h1>
    <p>Här hittar du de JSON-routes som denna webbplats erbjuder:</p>

    <ul>
    {% for route in routes %}
        {% if route.method == 'GET' %}
            <li>
                <strong>{{ route.name }}</strong><br>
                <code><a href="{{ route.path }}">{{ route.path }}</a></code><br>
                <em>{{ route.description }}</em>
            </li>
        {% endif %}
    {% endfor %}
</ul>





{% endblock %}
